.navbar__logo{
    background: url('../images/d’Perfume.png') no-repeat;
    width: 128px;
    height: 38px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}