.navbar__logo{
    background: url('../images/d’Perfume.png') no-repeat;
    width: 128px;
    height: 38px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}


.navbar-toggler{
    &:focus{
        outline: none;        
    }

    &__wrap{
        width: 20px;
        height: 20px;
    }

    &__bar{
        width: 34px;
        height: 4px;
        background: $gray-300;
        transition: transform .6s;
    }
}


.js-navbar-toggler__close{
    &--left{
        @extend .navbar-toggler__bar;
        transform: rotate(45deg);
        position: absolute;
        top: 8px;
    }

    &--right{
        @extend .navbar-toggler__bar;
        transform: rotate(-45deg);
        position: absolute;
        top: 8px;
    }
}
