.card{
    $this: &;

    &__link:hover{
        color: inherit;
        #{$this}__img--hover{
            transform: translateY(-8px);
        }
    }

    &__img{
        transition: transform .4s;
        &--s{
            height: 255px;
            width: 100%;
        }
        &--m{
            height: 350px;
            width: 100%;
            &--md{
                @include media-breakpoint-up(md){
                    min-height: 540px;
                }
            }
        }

        &--hover--filter--dark{
            transition: filter 0.6s;
            &:hover{
                filter: brightness(0.5);
            }
        }
    }

    &__title{
        font-size: get-font-size("m");
        font-weight: $font-weight-semibold;

        @include media-breakpoint-up(md){
            font-size: get-font-size("l");
        }
    }

    &__subtitle{
        font-size: 16px;
        font-weight: $font-weight-light;
    }

    &__footer{
        a{
            color: $primary;
            &:hover{
                color: $link-hover-color;
            }
        }
    }
}