.card{
    &__img{
        transition: all .4s;

        &--s{
            height: 165px;
            width: 100%;
            &--md{
                @include media-breakpoint-up(md){
                    min-height: 255px;
                }                
            }
        }

        &--m{
            height: 350px;
            width: 100%;
            &--md{
                @include media-breakpoint-up(md){
                    min-height: 540px;
                }
            }
        }

        &--hover--translateY{
            &:hover{
                transform: translateY(-8px);
            }
        }

        &--hover--filter--dark{
            &:hover{
                filter: brightness(0.5);
            }
        }
    }

    &__title{
        font-size: get-font-size("m");
        font-weight: $font-weight-semibold;

        @include media-breakpoint-up(md){
            font-size: get-font-size("l");
        }
    }

    &__subtitle{
        font-weight: $font-weight-light;
    }
}