<footer class="bg-primary">
    <nav class="container d-flex justify-content-between">
      <div class="d-flex align-items-center ">
        <a href="index.html">
            <img class="mr-7" src="./assets/images/d’Perfumewhite.png" alt="logo image">
        </a>
        <span class="font-s text-white">© 2020. All Rights Reserved.</span>
      </div>

      <ul class="d-flex align-items-center">
        <li>
          <a class="font-m text-white px-6 py-9 hover__bg--secondary" href="#">Product</a>
        </li>
        <li>
          <a class="font-m text-white px-6 py-9 hover__bg--secondary" href="#">Blog</a>
        </li>
        <li>
          <a class="font-m text-white px-6 py-9 hover__bg--secondary" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>