<footer class="bg-primary">
    <nav class="container d-flex justify-content-between">
      <div class="w-100 d-flex align-items-center justify-content-between justify-content-lg-start">
        <a class="my-7" href="../index.html">
            <img class="mr-7" src="./assets/images/d’Perfumewhite.png" alt="logo image">
        </a>
        <span class="font-s text-white">© 2020. All Rights Reserved.</span>
      </div>

      <ul class="d-none d-lg-flex align-items-center">
        <li>
          <a class="font-m text-white px-6 py-9 hover__bg--secondary" href="../product-all.html">Product</a>
        </li>
        <li>
          <a class="font-m text-white px-6 py-9 hover__bg--secondary" href="#">Blog</a>
        </li>
        <li>
          <a class="font-m text-white px-6 py-9 hover__bg--secondary" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </footer>