<nav class="navbar navbar-expand-lg navbar-light js-navbar bg-white">
  <div class="container-lg">
    <h1 class="ml-5 my-2">
      <a class="navbar-brand navbar__logo" href="./index.html">D'Perfume</a>
    </h1>
    <div class="mr-5 d-flex align-items-center">
      <div class="d-lg-none position-relative mr-8">
        <a href="#">
          <span class="shopping-cart-icon material-icons text-gray-300 align-text-top">
            shopping_cart
          </span>
        </a>
        <span class="shopping-cart-quantity badge badge-pill badge-primary font-xs">3</span>
      </div>
      <button class="navbar-toggler js-navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">              
          <div class="navbar-toggler__wrap position-relative">
            <div class="js-navbar-toggler__bar-top navbar-toggler__bar mb-1 rounded-lg"></div>
            <div class="js-navbar-toggler__bar-middle navbar-toggler__bar mb-1 rounded-lg"></div>
            <div class="js-navbar-toggler__bar-bottom navbar-toggler__bar rounded-lg"></div>
          </div>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link px-5 py-5 text-center font-m nav-link--bg nav-link--color nav-link--border active" href="./product-all.html">
          <span class="material-icons d-none d-lg-inline-block align-text-bottom">store</span>
          Product 
        </a>
        <a class="nav-link px-5 py-5 text-center font-m nav-link--bg nav-link--color nav-link--border" href="./login.html">
          <span class="material-icons d-none d-lg-inline-block align-text-bottom">person</span>
          log in
        </a>
        <a class="nav-link px-5 py-5 text-center font-m nav-link--bg nav-link--color nav-link--border" href="#">
          <span class="material-icons d-none d-lg-inline-block align-text-bottom">favorite</span>
          Wishlist
        </a>
        <a class="nav-link px-5 py-5 text-center font-m nav-link--bg nav-link--color" href="#" tabindex="-1" aria-disabled="true">
          <span class="material-icons d-none d-lg-inline-block align-text-bottom">shopping_cart</span>
          Cart(3)
        </a>
      </div>
    </div>
  </div>
</nav>