<div class="subscribe d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-19">
                <form action="#">
                    <label for="email" class="mb-7 font-xl font-weight-semibold text-gray-300">記得<br>訂閱以獲取更多資訊！</label>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg pr-16 border-primary border-width-2 rounded-left" placeholder="Your email address" aria-label="Your email address" aria-describedby="basic-addon2" id="email">
                        <div class="input-group-append">
                          <input type="submit" class="btn btn-primary px-9" value="Subscribe">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>